 {{#each Hackathon}}
<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content"></div>
                <ul>
                    <li>
                        <p> Title: {{title}}</p>
                        <p> Description: {{description}}</p>
                        <p> Maximal Student Number Required: {{maxStudent}}</p>
                        <p> Start Date: {{startDate}}</p>
                        <p> Finish Date: {{endDate}}</p>
                        <p> Created at: {{createdAt}}</p>
                        <p> Update at: {{updatedAt}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</div>
{{/each}}