 {{#if user.role}}
<div class="tile is-parent">
    <article class="tile is-child notification create-hackathon">
       
        <div class="media">
            <figure class="media-left image is-64x64">
                <img src="asset/new-post.svg" alt="new-post">
            </figure>
            <div class="media-content">
                <p class="title">Create Hackathon</p>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field is-small">
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <label>Title</label>
                        <input id="inputHackathonTitle" class="input" type="text" placeholder="What is the task?">
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-right">
                        <label>Number of students</label>
                        <input id="inputNoHackathonStudents" required="required" class="input" type="number" value="0">
                    </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <label>Start Date</label>
                        <input id="inputHackathonStartDate" class="input" type="date" placeholder="Start Date"
                            min="2020-06-01" value="2020-06-06"></p>
                </div>
                <div class="field">
                    <p class="control">
                        <label>End Date</label>
                        <input id="inputHackathonEndDate" class="input" type="date" placeholder="Finish Date"
                            min="2020-06-01" value="2020-06-30"></p>
                    </p>
                </div>
            </div>
        </div>

        <div class="field">
            <p class="control">
                <label>Description</label>
                <textarea id="inputHackathonDiscription" class="textarea"
                    placeholder="Add all details for your Hackathon"></textarea>
            </p>
        </div>

        <div id="hackathonSubmit" class="buttons"><button class="button" href="/">Create
                Hackathon</button>

        </div>

    </article>
</div>

{{/if}}


        {{#unless user.role}}
        <div class="tile is-parent">
            <article class="tile is-child notification hackathon-signed">
                <div class="media">
                <figure class="media-left image is-64x64">
                    <img src="asset/hackthon-signed.svg" alt="hackathon-signed">
                </figure>
                <div class="media-content">
                <p class="title">Hackathon's I've signed up to</p>
                </div>
                </div>
                {{#each attending}}
                <div class="box">
                    <h3>{{dataValues.title}} - Currently looking for {{dataValues.maxStudent}} students</h3>
                    <p>{{dataValues.description}}</p>
                    <p>Closing Date: {{prettifyDate dataValues.endDate "DD-MM-YYYY"}}</p>
                    <div class="buttons">
                        <button class="hackathonUnjoin button " data-id="{{dataValues.id}}">
                            Unjoin Hackathon
                        </button>
                    </div>
                </div>
                {{/each}}
            </article>
        </div>
        {{/unless}}
