                <article class="tile is-child notification hackathons">
                   <div class="media">
                        <figure class="media-left image is-64x64">
                                <img src="asset/discussion.svg">
                        </figure>
                        <div class="media-content">
                            
                                <p class="title ">Available Hackathons</p>
                           
                        </div>
                    </div>
                    <div class="content">

                        {{#each hackathons}}
                        <div class="box">
                            <h3>{{title}} - Currently looking for {{maxStudent}} students</h3>
                            <p>{{description}}</p>
                            <p>Closing Date: {{endDate}}</p>

                            {{#unless ../user.role}}
                            <div class="buttons">
                                <button class="hackathonJoin button " data-id="{{this.id}}">
                                    Join Hackathon
                                </button>
                            </div>
                            {{/unless}}

                            {{#if ../user.role}}
                            <div class="buttons">
                                <button class="hackathonDelete button " data-id="{{this.id}}">
                                    Delete Hackathon
                                </button>
                            </div>
                            {{/if}}

                        </div>
                        {{/each}}
                    </div>
                </article>