<div class="tile is-4 is-parent is-vertical">
    <article class="tile is-child notification ">
        {{#unless user.role}}
        <figure class="image is-128x128">
            <img src="asset/stu-info1.svg" alt="user-info">
        </figure>
        <p class="title">Student Information</p>
        <p>Name: {{user.fullName}}</p>
        <p>Email: {{user.email}}</p>
        <p>Technologies: {{user.technologies}}</p>
        <p>Course: {{user.courseGraduated}}</p>
        <p>Looking for work? {{user.employment}}</p>
        <p>Location: {{user.location}}</p>
        {{/unless}}

        {{#if user.role}}
        <figure class="image is-128x128">
            <img src="asset/company-info.svg" alt="company-info">
        </figure>
        <p class="title">Company Information</p>
        <p>Company Name: {{user.Company.dataValues.companyName}}</p>
        <p>Industry: {{user.Company.dataValues.industry}}</p>
        <p># Employees: {{user.Company.dataValues.numberEmployees}}</p>
        <p>Location: {{user.Company.dataValues.location}}</p>
        {{/if}}
    </article>
</div>