<!--main contents-->
<section class="container">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
            <div class="tile">
                <div class="tile is-4 is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        {{#unless user.role}}
                        <p class="title">Student Information</p>
                        <p>Name: {{user.fullName}}</p>
                        <p>Email: {{user.email}}</p>
                        <p>Technologies: {{user.technologies}}</p>
                        <p>Course: {{user.courseGraduated}}</p>
                        <p>Looking for work? {{user.employment}}</p>
                        <p>Location: {{user.location}}</p>
                        {{/unless}}

                        {{#if user.role}}
                        <p class="title">Company Information</p>
                        <p>Company Name: {{Company.dataValues.companyName}}</p>
                        <p>Industry: {{Company.dataValues.industry}}</p>
                        <p># Employees: {{Company.dataValues.numberEmployees}}</p>
                        <p>Location: {{Company.dataValues.location}}</p>
                        {{/if}}
                    </article>

                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        {{#if user.role}}
                        <p class="title">Create Hackathon</p>


                        <div class="field is-horizontal">
                            <div class="field is-small">

                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input id="inputHackathonTitle" class="input" type="text" placeholder="Title">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-right">
                                        <input id="inputNoHackathonStudents" class="input" type="number"
                                            placeholder="Number of students">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <label>Start Date</label>
                                        <input id="inputHackathonStartDate" class="input" type="date"
                                            placeholder="Start Date" min="2020-06-01" </p>
                                </div>
                                <div class="field">
                                    <p class="control">
                                        <label>End Date</label>
                                        <input id="inputHackathonEndDate" class="input" type="date"
                                            placeholder="Finish Date" min="2020-06-01">
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <p class="control">
                                <textarea id="inputHackathonDiscription" class="textarea"
                                    placeholder="Description"></textarea>
                            </p>
                        </div>

                        <div id="hackathonSubmit" class="buttons"><button class="button is-primary" href="/">Create
                                Hackathon</button></div>
                        {{/if}}

                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Available Hackathons</p>
                    <div class="content">

                        {{#each hackathons}}
                        <div class="box">
                            <h3>{{title}} - Currently looking for {{maxStudent}} students</h3>
                            <p>{{description}}</p>
                            <p>Closing Date: {{endDate}}</p>


                            {{#unless user.role}}
                            <div class="buttons">
                                <button class="hackathonJoin button is-primary" data-id="{{this.id}}">
                                    Join Hackathon
                                </button>
                            </div>
                            {{/unless}}

                            {{#if user.role}}
                            <div class="buttons">
                                <button class="hackathonDelete button is-primary" data-id="{{this.id}}">
                                    Delete Hackathon
                                </button>
                            </div>
                            {{/if}}

                        </div>

                        {{/each}}



                    </div>
                </article>
            </div>
        </div>

    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/create-hackathon.js"></script>